
<div>

    <div class="btn-group ps-dropdown">
        <a href="@Url.Action("Login","Login")" aria-haspopup="true" aria-expanded="false">Login/<i></i></a>
        <ul class="dropdown-menu"></ul>
    </div>
    <div class="btn-group ps-dropdown">
        <a href="@Url.Action("Register","Login")" aria-haspopup="true" aria-expanded="false">Register<i></i></a>
        <ul class="dropdown-menu"></ul>
    </div>
</div>