@model Recom_Pharmacy.Models.AccountClientEntity
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@{

    Recom_Pharmacy.Models.KHACHHANG acc = (Recom_Pharmacy.Models.KHACHHANG)Session["usr"];
    string username = "";
    if (Request.Cookies["usr"] != null)
    {
        username = Request.Cookies["usr"].Value;

    }

}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tài khoản</strong> / <strong class="text-black">Đổi mật khẩu</strong></div>
        </div>
    </div>
</div>
<h2 class="text-center" style="padding-top: 50px"><font color="#FF000">ĐỔI MẬT KHẨU</font></h2>
<hr />
@using (Html.BeginForm("Changepassword", "Login", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()

    <div class="container" align="center">
        <span style="color:red">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
        <div class="col-md-5">
            <input type="text"
                   id="userName"
                   name="userName"
                   value="@acc.Username"
                   class="form-control" readonly />
        </div>
        <br />
        <div class="col-md-5">
            <input type="password"
                   id="pass"
                   name="pass"
                   class="form-control" placeholder="Mật khẩu cũ" maxlength="32" required />
        </div>
        <br />
        <div class="col-md-5">
            <input type="password"
                   id="newpass"
                   name="newpass"
                   class="form-control" placeholder="Mật khẩu mới" maxlength="32" required onkeyup="check()" />
        </div>
        <br />
        <div class="col-md-5">
            <input type="password"
                   id="repass"
                   name="repass"
                   class="form-control" placeholder="Nhập lại mật khẩu" maxlength="32" required onkeyup="check()" />
            <span id="message"></span>
        </div>
        <br />


        <input type="submit" value=" Lưu " title="Save" class="btn btn-primary" onsubmit="return confirm('Bạn chắc chắn ?')" />



    </div>
}


<script>
    var check = function () {
        if (document.getElementById('newpass').value == document.getElementById('repass').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Trùng khớp';
            return true;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Không trùng khớp';
            return false;
        }
    }
</script>

