@model HieuThuoc.Models.AccountClientEntity
@{
	/**/

	ViewBag.Title = "Dangnhap";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@using (Html.BeginForm("Login", "Login", FormMethod.Post, new
{
	enctype = "multipart/form-data"
}))
{
	@Html.AntiForgeryToken()
	
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Đăng Nhập
					</span>

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						@*@Html.TextBox("userName", null, new { @class = "form-control", @placeholder = "UserName", required = "required" })*@
						<input class="input100" type="text" name="userName" id="userName" placeholder="Tài khoản" required>
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						@*@Html.Password("passWord", null, new { @class = "form-control", @placeholder = "Password", required = "required" })*@
						<input class="input100" type="password" name="passWord" id="=passWord" placeholder="Mật Khẩu"required>

						<span class="focus-input100" data-placeholder="&#xf191;"></span>
						<span style="color:red">@Html.ValidationSummary(true)</span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Nhớ mật khẩu
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Đăng Nhập
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Quên Mật Khẩu?
						</a>
					</div>
				</form>
			</div>

			

			}




